html,
body,
header,
main,
footer,
section,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
ul,
ol,
li,
table,
tr,
th,
td,
thead,
tbody,
tfoot,
canvas,
pre,
code,
dl,
dt,
iframe,
image,
label,
nav,
param,
path,
picture,
rb,
rp,
rt,
ruby,
select,
source,
svg,
text,
textarea,
blockquote {
	margin: 0;
	padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
ul,
ol,
li,
table,
tr,
th,
td,
thead,
tbody,
tfoot,
pre,
code,
dl,
dt,
label,
nav,
param,
rb,
rp,
rt,
ruby,
select,
text,
textarea {
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 16px;
	color: #121212;
	letter-spacing: calc(1px - 0.0625em);
	line-height: 1.5;
}

h1 {
	font-size: 1.5rem;
	font-weight: bold;
}
h2 {
	font-size: 1.4rem;
	font-weight: bold;
}
h3 {
	font-size: 1.2rem;
	font-weight: bold;
}
h4 {
	font-size: 1.1rem;
	font-weight: bold;
}
h5 {
	font-size: 1.1rem;
	font-weight: bold;
}
h6 {
	font-size: 1.1rem;
	font-weight: normal;
}

a {
	display: block;
	width: fit-content;
}
p a {
	display: inline;
}

ul,
ol {
	margin-left: 20px;
}

img {
	max-width: 100%;
}

html {
	min-height: 100%;
}
